<a href="https://colab.research.google.com/github/2303A51940/ADM/blob/main/employee-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("/content/sample_data/employee_data.csv")

In [4]:
print("Data Before Preprocessing")
print(df)

Data Before Preprocessing
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [5]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [9]:
import pandas as pd

# Assuming 'df' is your DataFrame loaded from 'Social_Media_Engagement.csv'

# Group numerical and categorical columns
numerical_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

# Impute missing values
for col in numerical_cols:
    if df[col].isnull().any():  # Check if column has missing values
        if len(df[col].unique()) > 10:  # Use mean/median for continuous data
            # Check skewness to determine imputation method
            if df[col].skew() > 1:  # Highly skewed
                df[col].fillna(df[col].median(), inplace=True)  # Impute median for skewed data
            else:
                df[col].fillna(df[col].mean(), inplace=True)  # Impute mean for relatively normal data
        else:
            df[col].fillna(df[col].mode()[0], inplace=True)  # Mode for discrete data

# Impute missing values for categorical columns
for col in categorical_cols:
    if df[col].isnull().any():
        df[col].fillna(df[col].mode()[0], inplace=True)  # Mode for categorical data

print(df)

    Employee_ID        Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.000000  108953.0              9.00                   36
1          1002  36.000000   82995.0              8.00                   59
2          1003  29.000000   70757.0              2.00                   30
3          1004  42.000000   39692.0              1.00                   30
4          1005  40.000000   75758.0              7.00                   54
5          1006  44.000000  102409.0              7.00                   56
6          1007  32.000000   72349.2              5.55                   59
7          1008  32.000000   95697.0              5.00                   54
8          1009  45.000000   67065.0              3.00                   49
9          1010  57.000000   72349.2              8.00                   42
10         1011  45.000000   41534.0              6.00                   38
11         1012  39.177778   70397.0              5.55                   32
12         1013  43.000000   31016.0              5.55                   36
13         1014  23.000000  119789.0              1.00                   35
14         1015  45.000000   85591.0              3.00                   37
15         1016  51.000000  119812.0              5.00                   56
16         1017  59.000000   53247.0              3.00                   38
17         1018  23.000000   54300.0              1.00                   59
18         1019  42.000000  104065.0              5.00                   34
19         1020  54.000000  112798.0             10.00                   30
20         1021  33.000000   39268.0              7.00                   48
21         1022  43.000000  116807.0              7.00                   39
22         1023  46.000000   42185.0              5.55                   41
23         1024  48.000000   93704.0              9.00                   53
24         1025  49.000000   72349.2             10.00                   44
25         1026  37.000000   69099.0              5.55                   56
26         1027  36.000000   72349.2              3.00                   51
27         1028  24.000000   68044.0              7.00                   53
28         1029  58.000000   81214.0              1.00                   38
29         1030  28.000000   91228.0              4.00                   49
30         1031  39.177778   78984.0              4.00                   46
31         1032  30.000000   70774.0              5.55                   59
32         1033  39.000000   32568.0              7.00                   46
33         1034  25.000000   92592.0              7.00                   55
34         1035  39.177778   97563.0              5.55                   49
35         1036  35.000000   32695.0              4.00                   41
36         1037  30.000000   78190.0              7.00                   59
37         1038  47.000000   35258.0              5.55                   36
38         1039  23.000000   72349.2              3.00                   31
39         1040  39.177778   69504.0              6.00                   32
40         1041  49.000000   63159.0              2.00                   46
41         1042  28.000000   43986.0             10.00                   34
42         1043  29.000000   91858.0              9.00                   46
43         1044  56.000000   42666.0              5.00                   53
44         1045  35.000000   68660.0              6.00                   46
45         1046  38.000000   33561.0              4.00                   56
46         1047  57.000000   56854.0              5.55                   46
47         1048  25.000000   94505.0              5.55                   31
48         1049  23.000000   82251.0              7.00                   31
49         1050  39.177778   52662.0              9.00                   57

<ipython-input-9-e4cf6c89b24b>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)  # Impute mean for relatively normal data

In [10]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Assuming 'df' is your DataFrame and contains 'Age' and 'Salary' columns

# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Fit and transform the selected columns
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

print(df)

    Employee_ID       Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  0.750000  0.877708              9.00                   36
1          1002  0.361111  0.585375              8.00                   59
2          1003  0.166667  0.447554              2.00                   30
3          1004  0.527778  0.097707              1.00                   30
4          1005  0.472222  0.503874              7.00                   54
5          1006  0.583333  0.804011              7.00                   56
6          1007  0.250000  0.465485              5.55                   59
7          1008  0.250000  0.728422              5.00                   54
8          1009  0.611111  0.405975              3.00                   49
9          1010  0.944444  0.465485              8.00                   42
10         1011  0.611111  0.118451              6.00                   38
11         1012  0.449383  0.443500              5.55                   32
12         1013  0.555556  0.000000              5.55                   36
13         1014  0.000000  0.999741              1.00                   35
14         1015  0.611111  0.614611              3.00                   37
15         1016  0.777778  1.000000              5.00                   56
16         1017  1.000000  0.250360              3.00                   38
17         1018  0.000000  0.262219              1.00                   59
18         1019  0.527778  0.822661              5.00                   34
19         1020  0.861111  0.921010             10.00                   30
20         1021  0.277778  0.092932              7.00                   48
21         1022  0.555556  0.966158              7.00                   39
22         1023  0.638889  0.125783              5.55                   41
23         1024  0.694444  0.705978              9.00                   53
24         1025  0.722222  0.465485             10.00                   44
25         1026  0.388889  0.428882              5.55                   56
26         1027  0.361111  0.465485              3.00                   51
27         1028  0.027778  0.417001              7.00                   53
28         1029  0.972222  0.565318              1.00                   38
29         1030  0.138889  0.678094              4.00                   49
30         1031  0.449383  0.540205              4.00                   46
31         1032  0.194444  0.447745              5.55                   59
32         1033  0.444444  0.017478              7.00                   46
33         1034  0.055556  0.693455              7.00                   55
34         1035  0.449383  0.749437              5.55                   49
35         1036  0.333333  0.018909              4.00                   41
36         1037  0.194444  0.531263              7.00                   59
37         1038  0.666667  0.047772              5.55                   36
38         1039  0.000000  0.465485              3.00                   31
39         1040  0.449383  0.433443              6.00                   32
40         1041  0.722222  0.361987              2.00                   46
41         1042  0.138889  0.146065             10.00                   34
42         1043  0.166667  0.685189              9.00                   46
43         1044  0.916667  0.131200              5.00                   53
44         1045  0.333333  0.423938              6.00                   46
45         1046  0.416667  0.028661              4.00                   56
46         1047  0.944444  0.290982              5.55                   46
47         1048  0.055556  0.714998              5.55                   31
48         1049  0.000000  0.576997              7.00                   31
49         1050  0.449383  0.243772              9.00                   57

In [11]:
def min_max_normalize(series):
    return (series - series.min()) / (series.max() - series.min())

    df['Job_Satisfaction_Norm'] = min_max_normalize(df['Job_Satisfaction'])
    df['Work_Hours_Per_Week_Norm'] = min_max_normalize(df['Work_Hours_Per_Week'])

    print(df[['Job_Satisfaction', 'Job_Satisfaction_Norm',
    'Work_Hours_Per_Week', 'Work_Hours_Per_Week_Norm']].head())

In [12]:
print("Data After Preprocessing")
print(df)

Data After Preprocessing
    Employee_ID       Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  0.750000  0.877708              9.00                   36
1          1002  0.361111  0.585375              8.00                   59
2          1003  0.166667  0.447554              2.00                   30
3          1004  0.527778  0.097707              1.00                   30
4          1005  0.472222  0.503874              7.00                   54
5          1006  0.583333  0.804011              7.00                   56
6          1007  0.250000  0.465485              5.55                   59
7          1008  0.250000  0.728422              5.00                   54
8          1009  0.611111  0.405975              3.00                   49
9          1010  0.944444  0.465485              8.00                   42
10         1011  0.611111  0.118451              6.00                   38
11         1012  0.449383  0.443500              5.55                   32
12         1013  0.555556  0.000000              5.55                   36
13         1014  0.000000  0.999741              1.00                   35
14         1015  0.611111  0.614611              3.00                   37
15         1016  0.777778  1.000000              5.00                   56
16         1017  1.000000  0.250360              3.00                   38
17         1018  0.000000  0.262219              1.00                   59
18         1019  0.527778  0.822661              5.00                   34
19         1020  0.861111  0.921010             10.00                   30
20         1021  0.277778  0.092932              7.00                   48
21         1022  0.555556  0.966158              7.00                   39
22         1023  0.638889  0.125783              5.55                   41
23         1024  0.694444  0.705978              9.00                   53
24         1025  0.722222  0.465485             10.00                   44
25         1026  0.388889  0.428882              5.55                   56
26         1027  0.361111  0.465485              3.00                   51
27         1028  0.027778  0.417001              7.00                   53
28         1029  0.972222  0.565318              1.00                   38
29         1030  0.138889  0.678094              4.00                   49
30         1031  0.449383  0.540205              4.00                   46
31         1032  0.194444  0.447745              5.55                   59
32         1033  0.444444  0.017478              7.00                   46
33         1034  0.055556  0.693455              7.00                   55
34         1035  0.449383  0.749437              5.55                   49
35         1036  0.333333  0.018909              4.00                   41
36         1037  0.194444  0.531263              7.00                   59
37         1038  0.666667  0.047772              5.55                   36
38         1039  0.000000  0.465485              3.00                   31
39         1040  0.449383  0.433443              6.00                   32
40         1041  0.722222  0.361987              2.00                   46
41         1042  0.138889  0.146065             10.00                   34
42         1043  0.166667  0.685189              9.00                   46
43         1044  0.916667  0.131200              5.00                   53
44         1045  0.333333  0.423938              6.00                   46
45         1046  0.416667  0.028661              4.00                   56
46         1047  0.944444  0.290982              5.55                   46
47         1048  0.055556  0.714998              5.55                   31
48         1049  0.000000  0.576997              7.00                   31
49         1050  0.449383  0.243772              9.00                   57